@keyframes scaling {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.25);
  }
}

@keyframes sparking {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* icon like animation and style */

.contour {
  fill: var(--contour-color, rgb(0 0 0 / 1));
  transition: fill 0.1s linear;
}

.main-body {
  fill: none;
  transition: fill 0.3s linear;
}

.core {
  fill: none;
  transition: fill 0.3s 0.03s linear;
}

.sparks {
  opacity: 0;
  fill: var(--animation-fill-color, rgb(255 0 0 / 1));
}

.heart {
  transform-origin: center center;
}

.like-icon:hover .core {
  fill: var(--contour-color, rgb(0 0 0 / 1));
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--contour-color, rgb(0 0 0 / 1));
  transition: fill 0.3s 0.05s linear;
}

.like-icon:active .core {
  fill: var(--animation-fill-color, rgb(255 0 0 / 1));
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color, rgb(255 0 0 / 1));
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color, rgb(255 0 0 / 1));
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color, rgb(255 0 0 / 1));
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color, rgb(255 0 0 / 1));
  transition: fill 0.3s 0.06s linear;
}

.like-icon.is-liked .heart {
  animation: scaling 0.3s 0.1s ease-in 1;
}

.like-icon.is-liked .sparks {
  animation: sparking 0.3s 0.3s ease-in 1;
}
