.page {
  color: var(--text-color, rgb(0 0 0 / 1));
  font-family: var(--main-font, sans-serif);
  font-size: var(--main-font-size, 18px);
  background-image: var(--bg-image,
    repeating-linear-gradient(#d3d3d3 0px 2px, transparent 2px 4px),
    repeating-linear-gradient(90deg, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(#e7e7e7, #1a1a1a));
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: 'wght' var(--main-font-weight, 400);
}

.logo {
  font-family: var(--accent-font, fantasy);
  line-height: 100%;
  text-transform: uppercase;
}

.content-block {
  margin-inline: auto;
  inline-size: var(--content-block-inline-size,
  round(nearest, clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem), 1px));
}

.block-with-border {
  border: 2px solid var(--text-color, rgb(0 0 0 / 1));
  background-color: var(--bg-color, rgb(255 255 255 /1));
}

.button {
  position: relative;
  border: 2px solid var(--text-color, rgb(0 0 0 / 1));
  font-family: var(--accent-font, fantasy);
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
  background-color: var(--bg-color, rgb(255 255 255 /1));
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.button__text {
  position: relative;
  z-index: 1;
  color: var(--bg-color, rgb(255 255 255 /1));
  mix-blend-mode: difference;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--text-color, rgb(0 0 0 / 1));
  outline: none;
}

.button::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--text-color, rgb(0 0 0 / 1));
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left center;
}

.button:hover::after {
  transform: scaleX(1);
}

/* FILTERS */

.filter-brightness {
  filter: brightness(150%);
}

.filter-contrast {
  filter: contrast(60%);
}

.filter-blur {
  filter: blur(1px);
}

.filter-grayscale {
  filter: grayscale(0.8);
}

.filter-saturate {
  filter: saturate(180%);
}

.filter-hue-rotate {
  filter: hue-rotate(-90deg);
}

.filter-sepia {
  filter: sepia(80%);
}

.filter-invert {
  filter: invert(1) hue-rotate(90deg);
}

/* HEADER BLOCK */

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-block: 100px;
  padding-block: round(nearest, clamp(7.5rem, 7.3239rem + 0.7512vw, 8rem), 1px);
}

.header__logo {
  font-size: round(nearest, clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem), 1px);
}

.header__title {
  font-family: var(--accent-font, fantasy);
  font-weight: 400;
  font-size: round(nearest, clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem), 1px);
  line-height: 100%;
  text-transform: uppercase;
}

/* MAIN BLOCK */

.main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
  margin-block-end: 103px;
}

.card__title {
  border-block-end: 2px solid var(--text-color, rgb(0 0 0 / 1));
  padding: 6px 24px 7px 10px;
  font-size: inherit;
  line-height: 100%;
  font-variation-settings: 'wght' var(--main-font-heading-weight, 700);
}

.card__image-container {
  position: relative;
  width: 100%;
  aspect-ratio: 1/1;
}

.card__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.card__image-lable {
  position: absolute;
  top: 25px;
  right: 25px;
  opacity: 50%;
  font-size: 14px;
  text-shadow:
    -1px 0 var(--text-stroke-color, rgb(255 255 255 /1)),
    0 1px var(--text-stroke-color, rgb(255 255 255 /1)),
    1px 0 var(--text-stroke-color, rgb(255 255 255 /1)),
    0 -1px var(--text-stroke-color, rgb(255 255 255 /1));
  mix-blend-mode: hard-light;
}

@supports((text-stroke: 1px var(--text-stroke-color, rgb(255 255 255 /1))) or (-webkit-text-stroke: 1px var(--text-stroke-color, rgb(255 255 255 /1)))) {
  .card__image-lable {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--text-stroke-color, rgb(255 255 255 /1));
    text-stroke: 1px var(--text-stroke-color, rgb(255 255 255 /1));
  }
}

.card__content-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  border-block-start: 2px solid var(--text-color, rgb(0 0 0 / 1));
  padding: 25px;
}

.card__description-block {
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.card__button-block {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
}

.card__icon-button {
  height: 38px;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
  cursor: pointer;
}

.card__icon-button:focus-visible {
  border-color: var(--text-color, rgb(0 0 0 / 1));
  outline: none;
}

.card__like-button {
  min-width: 130px;
  padding: 10.7185px 17px;
  text-align: center;
}

.like-icon {
  height: 100%;
  transform-origin: center center;
}

.button-save {
  display: flex;
  justify-self: center;
  align-items: center;
  gap: 8px;
  padding: 15px 21px 15px 19px;
}

.save-icon {
  position: relative;
  z-index: 1;
  width: 21px;
  color: rgb(255, 255, 255);
  aspect-ratio: 1 / 1;
  mix-blend-mode: difference;
}

/* modal window */

.save-to-floppy[open] {
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-width: 2px;
  padding: 30px;
}

.save-instruction {
  display: grid;
  grid-template-columns: min-content 234px;
  justify-content: start;
  align-items: center;
  gap: 20px;
  font-family: var(--accent-font, fantasy);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.save-description {
  max-inline-size: 234px;
}

.save-instruction .save-icon {
  width: 39px;
}

.button-ok {
  padding-block: 10.5px;
  text-transform: uppercase;
}

.save-to-floppy[open]::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

/* MEDIA */

@media (width <= 375px) {
  :root {
    --content-block-inline-size: 100%;
  }

  .main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
    margin-block-end: 100px;
  }

  .card__title {
    padding: 6px 10px 5px;
    line-height: 112%;
  }

  .button-save {
    flex-direction: column;
    gap: 16px;
    padding: 15px 20.5px 15px 19.5px;
  }
}

/* для регулирования размера логотипа при ширине от 320px до 348px,
когда логотип становится шире блока header */

@media (width <= 348px) {
  .header__logo {
    font-size: round(nearest, clamp(2.8125rem, 1.358rem + 7.2727vw, 3.0625rem), 1px);
  }
}
