:root {
  --main-font: 'Inter-Variable';
  --main-font-weight: 400;
  --main-font-heading-weight: 700;
  --main-font-size: 18px;
  --accent-font: 'PressStart2P';
  --text-color: rgb(0 0 0 / 1);
  --bg-color: rgb(255 255 255 /1);
  --text-stroke-color: var(--bg-color);
  --content-block-inline-size: round(up, clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem), 1px);
  --bg-image:
    repeating-linear-gradient(#d3d3d3 0px 2px, transparent 2px 4px),
    repeating-linear-gradient(90deg, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(#e7e7e7, #1a1a1a);
  --contour-color: var(--text-color);
  --animation-fill-color: rgb(255 0 0 / 1);
}
